.graph-menu-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* margin: 1rem; */
  padding: 1rem;

  background: #eee;
  border-radius: 9px;
  /* height: 50vh; */
  flex-grow: 1;
}

.menus-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
